server:
  port: 8080
  servlet:
    context-path: /
    encoding:
      charset: UTF-8
      enabled: true
      force: true

spring:
  datasource:
    driver-class-name: net.sf.log4jdbc.sql.jdbcapi.DriverSpy
    url: RDBMS_URL
    username: comproject
    password: comproject
    hikari:
      auto-commit: false
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB
  devtools:
    restart:
      enabled: false
    livereload:
      enabled: true
  data:
    mongodb:
      uri: NOSQL_URI
      authentication-database: admin
      database: comproject
  jpa:
    generate-ddl: false
    show-sql: true
    database: mysql
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    properties:
      hibernate:
        format_sql: true
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    mode: HTML
    encoding: UTF-8
    check-template-location: true
    cache: false
  mail:
    default-encoding: UTF-8
    host: smtp.naver.com #smtp 서버 주소
    port: 465 # 메일 인증서버 포트
    username: MAIL_USER_ID #네이버 아이디
    password: MAIL_USER_PW #네이버 비밀번호
    properties:
      mail:
        smtp:
          starttls:
            enable: true
          auth: true
          timeout: 5000
          ssl:
            trust: smtp.naver.com
            enable: true

jwt:
  secret: JWT_SECRET

logging:
  level:
    root: info
    com:
      amazonaws:
        util:
          EC2MetadataUtils: error

cloud:
  aws:
    s3:
      bucket: AWS_S3_BUCKET
    region:
      static: ap-northeast-2
    stack:
      auto: false
    credentials:
      instanceProfile: true

url:
  avatar: AI_AVATAR
  lifing: AI_LIFING
  friend: AI_FRIEND

mybatis:
  mapper-locations: mybatis/**/*.xml
  type-aliases-package: com.sorhive.comproject
  configuration:
    map-underscore-to-camel-case: true