<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sorhive.comprojectserver.feed.query.FeedMapper">

    <resultMap id="feedResultMap" type="com.sorhive.comprojectserver.feed.query.dto.FeedSummary">
        <id property="feedId" column="feed_id"/>
        <result property="feedContent" column="feed_content"/>
        <result property="feedWriterName" column="feed_writer_name"/>
        <result property="feedWriterId" column="feed_writer_id"/>
        <result property="feedCreateTime" column="feed_create_time"/>
        <result property="feedDeleteYn" column="feed_delete_yn"/>
        <result property="honeyCount" column="honey_count"/>
        <association property="feedImageSummary" resultMap="feedImageResultMap"></association>
        <association property="feedCommentSummary" resultMap="feedCommentResultMap"></association>
    </resultMap>

    <resultMap id="feedImageResultMap" type="com.sorhive.comprojectserver.feed.query.dto.FeedImageSummary">
        <id property="feedImageId" column="feed_image_id"/>
        <result property="feedImagePath" column="feed_image_path"/>
        <result property="feedImageOriginalName" column="feed_image_original_name"/>
    </resultMap>

    <resultMap id="feedCommentResultMap" type="com.sorhive.comprojectserver.feed.query.dto.FeedCommentSummary">
        <id property="feedCommentId" column="feed_comment_id"/>
        <result property="feedCommentContent" column="feed_comment_content"/>
        <result property="feedCommentWriterName" column="feed_comment_writer_name"/>
        <result property="feedCommentWriterId" column="feed_comment_writer_id"/>
        <result property="feedCommentCreateTime" column="feed_comment_create_time"/>
        <result property="feedCommentDeleteYn" column="feed_comment_delete_yn"/>
    </resultMap>

    <select id="selectAllFeed" resultMap="feedResultMap">
        select
               a.feed_id
             , a.feed_content
             , a.feed_writer_name
             , a.feed_writer_id
             , a.feed_create_time
             , a.feed_delete_yn
             , b.feed_image_path
          from tbl_feeds a
          left join tbl_feed_images b on(a.feed_id = b.feed_id)
         where a.feed_writer_code = #{memberCode}
           and a.feed_delete_yn = 'N'
         order by a.feed_id desc
         limit 5 offset #{ pageNo }
    </select>

    <select id="selectFeedByFeedId" resultMap="feedResultMap">
        select
               feed_id
             , feed_content
             , feed_writer_name
             , feed_writer_id
             , feed_create_time
             , feed_delete_yn
          from tbl_feeds
         where feed_id = #{feedId}
           and feed_delete_yn = 'N'
    </select>

    <select id="selectAllFeedComments" resultMap="feedCommentResultMap">
        select
               feed_comment_id
             , feed_comment_content
             , feed_comment_writer_name
             , feed_comment_writer_id
             , feed_comment_create_time
             , feed_comment_delete_yn
          from tbl_feed_comments
         where feed_id = #{feedId}
           and feed_comment_delete_yn = 'N'
         order by feed_comment_id desc
    </select>

    <select id="selectAllFeedImages" resultMap="feedImageResultMap">
        select
               feed_image_id
             , feed_image_path
             , feed_image_original_name
          from tbl_feed_images
         where feed_id = #{feedId}
           and feed_image_delete_yn = 'N'
    </select>

    <select id="selectFeedCount" resultType="_int">
        select
               count(feed_writer_code) as feedCount
          from tbl_feeds
         where feed_writer_code = #{memberCode}
           and feed_delete_yn = 'N'
    </select>

</mapper>