<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sorhive.comprojectserver.lifing.query.LifingMapper">

    <resultMap id="lifingPathResultMap" type="com.sorhive.comprojectserver.lifing.query.dto.LifingImagePath">
        <id property="lifingImageId" column="lifing_image_id"/>
        <result property="lifingImagePath" column="lifing_image_path"/>
        <result property="lifingId" column="lifing_id"/>
    </resultMap>

    <resultMap id="lifingResultMap" type="com.sorhive.comprojectserver.lifing.query.dto.LifingSummary">
        <id property="lifingId" column="lifing_id"/>
        <result property="lifingConetent" column="lifing_content"/>
        <result property="lifingNo" column="lifing_no"/>
        <result property="lifingCategoryNo" column="lifing_category_no"/>
        <result property="lifingWriterCode" column="lifing_writer_code"/>
        <result property="lifingWriterId" column="lifing_writer_id"/>
        <result property="lifingWriterName" column="lifing_writer_name"/>
        <result property="uploadTime" column="lifing_upload_time"/>
        <result property="deleteYn" column="lifing_delete_yn"/>
        <association property="lifingCommentData" resultMap="lifingCommentResultMap"></association>
        <association property="lifingImages" resultMap="lifingPathResultMap"></association>
    </resultMap>

    <resultMap id="lifingHoneyResultMap" type="com.sorhive.comprojectserver.lifing.query.dto.LifingHoneyData">
        <id property="lifingHoneyId" column="lifing_honey_id"/>
        <result property="lifingHoneyCreateTime" column="lifing_honey_create_time"/>
        <result property="lifingHoneyDeleteYn" column="lifing_honey_delete_yn"/>
        <result property="lifingId" column="lifing_id"/>
        <result property="memberCode" column="member_code"/>
    </resultMap>

    <resultMap id="lifingCommentResultMap" type="com.sorhive.comprojectserver.lifing.query.dto.LifingCommentData">
        <id property="lifingCommentId" column="lifing_comment_id"/>
        <result property="lifingCommentContent" column="lifing_comment_content"/>
        <result property="lifingCommentWriterCode" column="lifing_comment_writer_code"/>
        <result property="lifingCommentWriterName" column="lifing_comment_writer_name"/>
        <result property="lifingCommentWriterId" column="lifing_comment_writer_id"/>
        <result property="lifingCommentCreateTime" column="lifing_comment_create_time"/>
        <result property="lifingCommentDeleteYn" column="lifing_comment_delete_yn"/>
    </resultMap>

    <select id="findLifingImageByMemberCode" resultMap="lifingPathResultMap">
        select
               lifing_image_id
             , lifing_image_path
             , max(lifing_upload_time)
          from tbl_lifing_image
         where lifing_id = #{lifing_id}
           and lifing_delete_yn = 'N'
    </select>

    <select id="findAllLifingByMemberCode" resultMap="lifingResultMap">
        select
               a.lifing_id
             , a.lifing_content
             , a.lifing_no
             , a.lifing_category_no
             , a.lifing_writer_code
             , a.lifing_writer_id
             , a.lifing_writer_name
             , a.lifing_upload_time
             , a.lifing_delete_yn
             , b.lifing_image_id
             , b.lifing_image_path
          from tbl_lifings a
          join tbl_lifing_image b on (a.lifing_id = b.lifing_id)
         where a.lifing_writer_code = #{ memberCode }
           and a.lifing_delete_yn = 'N'
         order by a.lifing_upload_time desc
         limit 3 offset #{pageNo}
    </select>

    <select id="countLifingHoney" resultMap="lifingHoneyResultMap">
        select
               count(lifing_id)
          from tbl_lifing_honey
         where lifing_id = ${lifingId}
           and lifing_delete_yn = 'N'
    </select>

    <select id="selectAllLifingComments" resultMap="lifingCommentResultMap">
        select
               lifing_comment_id
             , lifing_comment_content
             , lifing_comment_writer_code
             , lifing_comment_writer_name
             , lifing_comment_writer_id
             , lifing_comment_create_time
             , lifing_comment_delete_yn
          from tbl_lifing_comments
         where fk_lifing_id = #{lifingId}
           and lifing_comment_delete_yn = 'N'
         order by lifing_comment_id desc
    </select>

    <select id="selectLifingImage" resultMap="lifingPathResultMap">
        select
               lifing_image_id
             , lifing_image_path
          from tbl_lifing_image
         where lifing_id = #{ lifingId }
           and lifing_delete_yn = 'N'
    </select>

    <select id="findOneByCreateTime" resultMap="lifingResultMap">
        select
               lifing_id
             , lifing_upload_time
             , lifing_category_no
             , lifing_no
             , lifing_writer_code
             , lifing_writer_name
             , lifing_writer_id
             , lifing_content
          from tbl_lifings
         where (lifing_writer_code
             , lifing_create_time) in(
               select
                      lifing_writer_code
                    , max(lifing_create_time)
                 from tbl_lifings
         group by lifing_writer_code
        having lifing_writer_code = #{writerCode})
    </select>
</mapper>