<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sorhive.comprojectserver.lifing.query.LifingMapper">

    <resultMap id="lifingPathResultMap" type="com.sorhive.comprojectserver.lifing.query.LifingImagePath">
        <id property="id" column="lifing_image_id"/>
        <result property="lifingPath" column="lifing_image_path"/>
        <result property="analyzedLifingNo" column="anaylzed_lifing_no"/>
    </resultMap>

    <resultMap id="lifingResultMap" type="com.sorhive.comprojectserver.lifing.query.LifingData">
        <id property="lifingId" column="lifing_id"/>
        <result property="lifingConetent" column="lifing_content"/>
        <result property="lifingNo" column="lifing_no"/>
        <result property="lifingCategoryNo" column="lifing_category_no"/>
        <result property="lifingImagePath" column="lifing_image_path"/>
        <result property="lifingWriterCode" column="lifing_writer_code"/>
        <result property="lifingWriterId" column="lifing_writer_id"/>
        <result property="lifingWriterName" column="lifing_writer_name"/>
        <result property="uploadTime" column="lifing_upload_time"/>
        <result property="deleteYn" column="lifing_delete_yn"/>
    </resultMap>

    <select id="findLifingImageByMemberCode" resultMap="lifingPathResultMap">
        select
               lifing_image_id
             , lifing_image_path
             , anaylzed_lifing_no
             , max(lifing_upload_time)
          from tbl_lifing_image
         where lifing_writer_code = #{memberCode}
         group by lifing_writer_code;
    </select>

    <select id="findAllLifingByMemberCode" resultMap="lifingResultMap">
        select
               a.lifing_id
             , a.lifing_content
             , a.lifing_image_path
             , a.lifing_writer_code
             , a.lifing_writer_id
             , a.lifing_writer_name
             , a.lifing_upload_time
             , a.lifing_delete_yn
          from tbl_lifings a
         where lifing_writer_code = #{ memberCode }
         order by a.lifing_upload_time desc
         limit 3 offset #{pageNo}
    </select>
</mapper>