<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sorhive.comprojectserver.member.query.member.MemberMapper">

    <resultMap id="memberSummaryResultMap" type="com.sorhive.comprojectserver.member.query.member.MemberSummary">
        <id property="memberCode" column="member_code"/>
        <result property="memberName" column="member_name"/>
        <result property="memberId" column="member_id"/>
        <result property="avatarImage" column="member_avatar_image"/>
        <result property="roomImage" column="member_room_image"/>
        <result property="lifingNo" column="member_lifing_no"/>
        <association property="followSummary" resultMap="followResultMap"/>
    </resultMap>

    <resultMap id="followResultMap" type="com.sorhive.comprojectserver.member.query.follow.FollowSummary">
        <id property="followId" column="follow_id"/>
        <result property="followerId" column="follower_id"/>
        <result property="followingId" column="following_id"/>
    </resultMap>

    <select id="findAllByMemberCode" resultMap="memberSummaryResultMap">
        select
               a.member_code
             , a.member_id
             , a.member_name
             , a.member_avatar_image
             , a.member_room_image
             , a.member_lifing_no
             , b.follow_id
             , b.follower_id
          from tbl_members a
          left join tbl_follows b on a.member_code = b.following_id
         where b.follower_id = #{ memberCode }
         limit 30 offset #{ offset }
    </select>
</mapper>