<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sorhive.comprojectserver.member.query.member.MemberMapper">

    <resultMap id="memberSummaryResultMap" type="com.sorhive.comprojectserver.member.query.member.MemberSummary">
        <id property="memberCode" column="member_code"/>
        <result property="memberName" column="member_name"/>
        <result property="memberId" column="member_id"/>
        <result property="avatarImage" column="member_avatar_image"/>
        <result property="roomImage" column="member_room_image"/>
        <result property="lifingNo" column="member_lifing_no"/>
        <result property="lifingCategoryNo" column="member_lifing_category_no"/>
        <result property="lifingYn" column="member_lifing_yn"/>
        <association property="followSummary" resultMap="followResultMap"/>
    </resultMap>

    <resultMap id="memberDataResultMap" type="com.sorhive.comprojectserver.member.query.member.MemberData">
        <id property="memberCode" column="member_code"/>
        <result property="name" column="member_name"/>
        <result property="id" column="member_id"/>
        <result property="avatarImagePath" column="member_avatar_image"/>
        <result property="memberRoomImage" column="member_room_image"/>
        <result property="lifingNo" column="member_lifing_no"/>
        <result property="lifingCategoryNo" column="member_lifing_category_no"/>
        <result property="lifingYn" column="member_lifing_yn"/>
    </resultMap>

    <resultMap id="followResultMap" type="com.sorhive.comprojectserver.member.query.follow.FollowSummary">
        <id property="followId" column="follow_id"/>
        <result property="followerId" column="follower_id"/>
        <result property="followingId" column="following_id"/>
    </resultMap>

    <select id="findAllFollowerByMemberCode" resultMap="memberSummaryResultMap">
        select
               a.member_code
             , a.member_id
             , a.member_name
             , a.member_avatar_image
             , a.member_room_image
             , a.member_lifing_no
             , a.member_lifing_category_no
             , a.member_lifing_yn
             , b.follow_id
             , b.follower_id
          from tbl_members a
          left join tbl_follows b on a.member_code = b.following_id
         where b.follower_id = #{ memberCode }
           and a.member_delete_yn = 'N'
           and a.member_role = 'ROLE_MEMBER'
           and b.follow_delete_yn = 'N'
         order by a.member_lifing_yn desc
         limit 30 offset #{ offset }
    </select>

    <select id="findAllFollowerByFollowerCode" resultMap="memberDataResultMap">
        select
               a.member_code
             , a.member_id
             , a.member_name
             , a.member_avatar_image
             , a.member_room_image
             , a.member_lifing_no
             , a.member_lifing_category_no
             , a.member_lifing_yn
          from tbl_members a
          left join tbl_follows b on a.member_code = b.following_id
         where b.follower_id = #{ memberCode }
           and a.member_delete_yn = 'N'
           and a.member_role = 'ROLE_MEMBER'
           and b.follow_delete_yn = 'N'
         limit 6
    </select>

    <select id="findOneByMemberCode" resultMap="memberSummaryResultMap">
        select
               a.member_code
             , a.member_id
             , a.member_name
             , a.member_avatar_image
             , a.member_room_image
             , a.member_lifing_no
             , a.member_lifing_category_no
             , a.member_lifing_yn
             , b.follow_id
             , b.follower_id
          from tbl_members a
          left join tbl_follows b on a.member_code = b.following_id
         where a.member_code = #{ memberCode }
           and a.member_delete_yn = 'N'
           and a.member_role = 'ROLE_MEMBER'
    </select>

    <select id="findMaxMemberCode" resultType="int">
        select
               max(member_code)
          from tbl_members
         where member_delete_yn = 'N'
           and member_role = 'ROLE_MEMBER'
    </select>

    <select id="countFeed" resultType="int">
        select
               count(feed_writer_code)
          from tbl_feeds
         where feed_writer_code = #{memberCode}
           and feed_delete_yn = 'N'
    </select>

    <select id="countFollower" resultType="int">
        select
               count(follower_id)
          from tbl_follows
         where following_id = #{memberCode}
           and follow_delete_yn = 'N'
    </select>

    <select id="countFollowing" resultType="int">
        select
               count(following_id)
          from tbl_follows
         where follower_id = #{memberCode}
           and follow_delete_yn = 'N'
    </select>

    <select id="findFolloingSummary" resultMap="followResultMap">
        select
               follow_id
             , following_id
             , follower_id
          from tbl_follows
         where follower_id = #{ownMemberCode}
           and following_id = #{memberCode}
           and follow_delete_yn = 'N'
         group by following_id
    </select>

    <select id="findFollowerSummary" resultMap="followResultMap">
        select
               follow_id
             , following_id
             , follower_id
          from tbl_follows
         where following_id = #{ownMemberCode}
           and follower_id = #{memberCode}
           and follow_delete_yn = 'N'
         group by following_id
    </select>
</mapper>